bcrypt==4.2.0
cffi==1.17.1
cryptography==43.0.1
loguru==0.7.2
mypy==1.11.2
mypy-extensions==1.0.0
paramiko==3.5.0
pycparser==2.22
PyNaCl==1.5.0
python-dotenv==1.0.1
scp==0.15.0
types-paramiko==3.5.0.20240928
typing_extensions==4.12.2
